<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Number of patients per doctor 
                </div>
                <div style="display: block">
                    <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
                </div>
                <div class="card-footer">
                   
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Number of patients per doctor 
                </div>
                <div class="card-body">
                    <canvas
                        (chartClick)="chartClicked($event)"
                        (chartHover)="chartHovered($event)"
                        [chartType]="doughnutChartType"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [colors]="doughnutChartColors"
                        baseChart
                        height="180px"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
